Flask>=2.2,<2.3
Flask-SQLAlchemy
Flask-WTF
Flask-Bootstrap
flask-marshmallow
marshmallow-sqlalchemy
celery[redis]>=5.2,<5.3
Jinja2
MarkupSafe
SQLAlchemy
WTForms-Alchemy
Werkzeug
gunicorn
pytest
psycopg2
