{% extends "_layout.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block container %}
    <h4>Recipes ({{pagination.total}})</h4>
    <ul class="nav nav-pills nav-stacked">
        {%- for recipe in pagination.items %}
            <li class="recipe"><a href="{{url_for('.show', id=recipe.id)}}">{{recipe.title}}</a></li>
        {%- else %}
            <li><em>No entries.</em></li>
        {%- endfor %}
        {{ render_pagination(pagination) }}
    </ul>
{% endblock %}
