{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
{% include "_nav.html" %}
<section class="container">
    <h1>{{recipe.title}} {%- if recipe.quantity %} ({{recipe.quantity}}){%- endif %}</h1>

    <h4>Categories</h4>
    <ul>
        {%- for category in recipe.categories %}
        <li>{{category.title}}</li>
        {%- endfor %}
    </ul>
    <h4>Ingredients</h4>
    <ul>
        {%- for ingredient in recipe.ingredients %}
        <li>{{ingredient.quantity|replace(None, '')}} {{ingredient.unit|replace(None, '')}} {{ingredient.item}}</li>
        {%- endfor %}
    </ul>
    <h4>Steps</h4>
    <ul>
        {%- for direction in recipe.directions %}
        <li>{{direction.step}}</li>
        {%- endfor %}
    </ul>
</section>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
