{% extends "_layout.html" %}

{% block container %}
    <h1>{{recipe.title}} {%- if recipe.quantity %} ({{recipe.quantity}}){%- endif %}</h1>

    <h4>Categories</h4>
    <ul>
        {%- for category in recipe.categories %}
        <li><a href="{{url_for('categories', title=category.title)}}">{{category.title}}</a></li>
        {%- endfor %}
    </ul>
    <h4>Ingredients</h4>
    <ul>
        {%- for ingredient in recipe.ingredients %}
        <li>{{ingredient.quantity|replace(None, '')}} {{ingredient.unit|replace(None, '')}} {{ingredient.item}}</li>
        {%- endfor %}
    </ul>
    <h4>Steps</h4>
    <ul>
        {%- for direction in recipe.directions %}
        <li>{{direction.step}}</li>
        {%- endfor %}
    </ul>

    <a href="{{ url_for('show_xml', id=recipe.id)}}" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download
    </a>
{% endblock %}
